.recipe {
  padding-inline: 2rem;

  p {
    margin-block: 1rem;
  }

  ul, ol {
    margin-inline-start: 3rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-block: 1rem;
  }
}