.recipe {
  padding-inline: 2rem;

  h4 {
    margin-block-start: 3rem;
  }

  p {
    margin-block: 1rem;
  }

  ul, ol {
    margin-inline-start: 4rem;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  li {
    margin-block: 1rem;
  }
}