.wrapper {
  max-width: min(80ch, 100% - 4rem);
  margin-inline: auto;
}

.title {
  font-size: 1.25em;
  padding: 0.5rem 1rem;
  border-radius: 100vw;
  border-width: medium;
  border-style: solid;
  border-color: rgb(255, 255, 255);
}