.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;

  a {
    padding: 0.2rem 1rem;
  }

  a + a {
    border-left: 0.2rem solid black;
  }
}

.recipes {
  display: grid;
  padding-inline: 2rem;
}

.previews {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1em;
}


.title {
  font-size: 3rem;
  padding: 2rem;
}

.recipe_preview {
  max-width: 30ch;
  display: grid;
  padding: 1rem;

  button {
  }
}