.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  //gap: 2rem;
}

.title {
  flex: 0;
  margin-inline: 2rem;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: center;
  $light: hsl(0, 0%, 90%);
  $dark: hsl(0, 0%, 20%);

  a {
    padding: 1rem;
    transition: ease-in-out 100ms;
    transition-property: color, background-color;

    @media (hover: hover) {
      &:hover {
        color: $dark;
        background-color: $light;
      }
    }

    + a {
      border-left: 0.2rem solid $light;
    }
  }
}
